#logo-section{
    position: 'relative';
    height: 15rem;
    width: 100%;
    background-color:  #373A3C;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

#logo{
    margin: auto;
}

#sub-logo{
    position: absolute;
    top: 10.5rem;
    text-align: center;
    width: 100%;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 9;
    align-items: center;
    width: 100%;
    height: 5.94rem;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-right: 5rem;
}

#collapsing-menu{
    position: absolute;
    right: 18.5%;
}

#jirani{
    position: absolute;
    left: 50px;
}

#collapsing-menu span{
    margin-left: 30px ;

}

#collapsing-menu span:hover{
    color: #FF321A;
}

#open-menu-icon{
    position: absolute;
    right: 3.6%;
}

#body-section{
    height: auto;
    position: relative;
    top: 4.5rem;
}

#first-column{
    width: 20px;
}



#nav-side{
    position: relative;
    margin-top: 10rem;
    margin-left: 2.5rem;

}

#images-grid{
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
}

#image-title{
    font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 34px;

/* identical to box height */
display: flex;
align-items: center;

/* grey 1 */
color: #373A3C;
    margin-bottom: 2rem;
    margin-left: 1.95rem;
}

#third-column{
    position: relative;
    display: grid;
}

#searchIcon{
    position: absolute;
    right: 3.28rem;
    z-index: 99;
    cursor: pointer;
}

#side-title{
    position: absolute;
    right: 138px;
    top: 4.25rem;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    /* identical to box height */
    display: flex;
    align-items: center;

    /* burnt orange */
    color: #FF321A;
    }

.category-box{
    display: -ms-flexbox;
    display: flex;
    background: #FFFFFF;
    align-items: center;

    /* grey 1 */
    border: 1px solid #373A3C;
    box-sizing: border-box;
    width: 200px;
    height: 45px;
    cursor: pointer;
}

.dropdown-box{
    background: #373A3C;
    width: 200px;
    height: auto;
    position: absolute;
    right: 3.125rem;
    display: grid;
    display: -ms-grid;
    display: none;
    z-index: 99;
}

.dropdown-box span{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    
    /* white */
    color: #FFFFFF;
    width: 100%;
    text-align: left;
    padding: 12px 30px;
    cursor: pointer;
}

.category-box::before{
    content: 'By category';
    display: block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    bottom: 55px;

    /* grey 1 */
    color: #373A3C;
}

.category-box span{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding-left: 15px;
    /* grey 1 */
    color: #373A3C;
}

.iconDown{
    margin-left: 25px;
    cursor: pointer;
}

#reset{
    position: absolute;
    top: 360px;
    right: 50px;
    cursor: pointer;
}

.navigation-down{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    width: 100%;
    gap: 1rem;
}

.navigation-down span{
    margin: auto;
    cursor: pointer;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;

    /* identical to box height */
    display: flex;
    align-items: center;

    /* burnt orange */
    color: #FF321A;
}

.navigation-down img{
    margin: auto;
    cursor: pointer;
}

.description-footer{
    position: absolute;
    top: 295px;
    left: 11.45rem;
}
.description-footer-2{
    position: absolute;
    top: 295px;
    left: 15.23rem;
}

.description-footer-3{
    position: absolute;
    top: 295px;
    left: 22.25rem;
}



.footer{
    width: 100%;
    height: 245px;
    background: #373A3C !important;
    position: relative;
}

.footer-logo{
    position: absolute;
    width: 19rem;
    height: 2.6rem;
    top: 3.125rem;
    left: 3.125rem;
}

.copyright{
    position: absolute;
    bottom: 3.125rem;
    left: 3.125rem;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    
    /* identical to box height */
    
    /* white */
    color: #FFF;
}

.navigation-footer{
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    gap: 1rem;
    color: #fff;
    position: absolute;
    top: 3.125rem;
    right: 21.3125rem;
}

.find-us{
    font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;

/* identical to box height */

/* white */
color: #FFFFFF;
position: absolute;
top: 3.125rem;
right: 8.5rem;
}

.social-icons{
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    position: absolute;
    right: 3.125rem;
    top: 90px;
    margin-top: 1rem;
}

.social-icons img{
    margin: 1rem;
}

.sub-title{
    position: absolute;
    left: 2.5rem;
    top: 3.75rem;
}